<div ng-controller ="resCtrl">
  <h3>Reservation</h3>


<div class="row">
  <div class="col-lg-4">
    <label for="reservationName">Name: </label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Name..." ng-model ="editRes.patronName">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
  <div class="col-lg-4">
    <label for="reservationDate">Date</label>
    <div class="input-group">
      <input type="date" class="form-control" placeholder="Search for..." ng-model="editRes.resTime">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
    <div class="col-lg-4">
    <label for="reservationTime">Time</label>
    <div class="input-group">
      <input type="time" class="form-control" placeholder="Search for..." ng-model ="editRes.resTime">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-4">
    <label for="partySize">Party Size: </label>
    <div class="input-group">
      <input type="number" min="1" class="form-control" placeholder="Party Size..." ng-model ="editRes.partySize">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
  <div class="col-lg-4">
    <label for="allergies">Allergies: </label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Separate with commas..." ng-model="editRes.allergies">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
    <div class="col-lg-4">
    <label for="phoneNumber">Phone number: </label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." ng-model ="editRes.phoneNumber">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-3 -->
</div><!-- /.row -->


 <button type="submit" class="btn btn-default" ng-click="updateRes(editRes)">Submit</button>


</div>