<table class ="table" ng-controller="mainCtrl">
  <thead>
    <tr>
      <td>Date</td>
      <td>Time</td>
      <td>Name</td>
      <td>Party Size</td>
      <td>Allergies</td>
      <td>Phone</td>
      <td>Checked In</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody >
    <tr ng-repeat ="res in resList track by $index">
      <td>
        {{res.resTime | date:'mediumDate'}}
      </td>
      <td>
        {{res.resTime | date:'shortTime'}}
      </td>
      <td>
        {{res.patronName}}
      </td>
      <td>
        {{res.partySize}}
      </td>
      <td>
        {{res.allergies}}
      </td>
      <td>
        {{res.phoneNumber}}
      </td>
      <td class ="resButton">
        <input type="checkbox" ng-value="res.checkedIn" ng-model="res.checkedIn" ng-change="resCheckIn(this)">
      </td>
      <td class ="resButton" ng-click="editResInfo(this)">
        <span class="glyphicon glyphicon-edit"></span>
      </td>
      <td class ="resButton" ng-click="deleteResInfo(this)">
        <span class="glyphicon glyphicon-remove"></span>
      </td>
    </tr>
  </tbody>
  
</table>